
.navbar{
    width: 100vw;
    height: 10vh;
    background: rgb(37,72,244);
    background: linear-gradient(148deg, rgba(37,72,244,1) 15%, rgba(177,80,108,1) 84%);
    display: flex;
    /* left: 20px; */
    /* right: 20px; */
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.home{
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.8rem;
    margin-left: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.logout{
  margin-right: 50px;
  margin-top: 10px;
  width: 50px;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profile{
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    cursor: pointer;
    
}
.profile:hover{
    color: rgb(0, 255, 0);
}
.nav-right{
    display: flex;
}
.lgdiv{
    margin-top: 10px;
}

.username{
    margin-top: 15px;
    margin-right: 4rem;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
