
.navbar-admin{
    width: 100vw;
    height: 10vh;
    /* background-color: rgb(76, 8, 247); */
    background: rgb(80,12,127);
    background: linear-gradient(148deg, rgba(80,12,127,1) 36%, rgba(255,89,136,1) 100%);
    display: flex;
    /* left: 20px; */
    right: 20px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.dashboard{
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.admin-logout{
  margin-right: 100px;
  width: 50px;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-right-admin{
    display: flex;
}